{
  "root": true,
  "parser": "@typescript-eslint/parser",

  "plugins": ["@typescript-eslint"],
  "extends": [
    "next",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "window": true,
    "module": true
  },

  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-console": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "no-empty-pattern": 0,
    "no-irregular-whitespace": 0
  }
}
